<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage Users</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/admins/new}">Add New Admin</a>
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="admin : ${listAdmins}">
                <tr>
                    <td>[[${admin.id}]]</td>
                    <td>[[${admin.login}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/admins/edit/' + ${admin.id}}">Edit</a>
                        <a class="h4" th:href="@{'/admins/delete/' + ${admin.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div class="m-2">
            <a class="h5 text-danger" th:href="@{/static}">Back</a>
        </div>
    </div>
</div>
</body>
</html>