<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to admin panel</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <h1>Welcome to admin panel</h1>
    <a class="h4" th:href="@{/users}">Users</a><br>
    <a class="h4" th:href="@{/cars}">Cars</a><br>
    <a class="h4" th:href="@{/CarModels}">Car Models</a><br>
    <a class="h4" th:href="@{/admins}">Admins</a><br>
    <a class="h4" th:href="@{/rentals}">Rentals</a>
</div>
</body>
</html>